@using PrjCinema.MVC.Util
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["UsuarioLogado"] != null)
            {
                    @Html.ActionLink("Seriando App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Seriando App", "Login", "Login", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["UsuarioLogado"] != null)
                    {
                        if (ULogin.IsPermiteTela("Usuario"))
                        {
                            <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                        }
                        if (ULogin.IsPermiteTela("GrupoAcesso"))
                        {
                            <li>@Html.ActionLink("Grupos de Acesso", "IndexGrupoAcessos", "ConfiguracaoGrupoUsuarioPermissao")</li>
                        }
                        if (ULogin.IsPermiteTela("Permissao"))
                        {
                            <li>@Html.ActionLink("Permissões", "IndexPermissoes", "ConfiguracaoGrupoUsuarioPermissao")</li>
                        }
                        if (ULogin.IsPermiteTela("Filme"))
                        {
                            <li>@Html.ActionLink("Filmes", "Index", "Filme")</li>
                        }
                        if (ULogin.IsPermiteTela("Serie"))
                        {
                            <li>@Html.ActionLink("Series", "Index", "Serie")</li>
                        }
                        if (ULogin.IsPermiteTela("Ator"))
                        {
                            <li>@Html.ActionLink("Atores", "Index", "Ator")</li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["UsuarioLogado"] != null)
                    {
                        @Html.Partial("_InfoUsuario")
                        @ViewBag.UsuarioLogin
                    }
                </ul>

                <input type="hidden" id="success"
                       value="@TempData["success"]" />
                <input type="hidden" id="info"
                       value="@TempData["info"]" />
                <input type="hidden" id="warning"
                       value="@TempData["warning"]" />
                <input type="hidden" id="error"
                       value="@TempData["error"]" />
            </div>
        </div>


    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="card-img-top">
            <p>&copy; @DateTime.Now.Year - Aplicação de teste</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquerymascara")
    @Scripts.Render("~/bundles/toast")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/Content/datatables")
    @RenderSection("scripts", required: false)
</body>
</html>
