
@model PrjCinema.Domain.Entities.Relacoes.AtuaSerie

@{
    ViewBag.Title = "AddAtuacaoSerie";
}

<h2>Adicionar ator na Serie</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>adicione o ator</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SerieId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">



                @Html.HiddenFor(model => model.SerieId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ViewBag.NomeSerie.ToString()
                @Html.ValidationMessageFor(model => model.SerieId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ator, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AtorId, new SelectList(ViewBag.Atores, "Id", "Nome"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AtorId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
