@using PrjCinema.Domain.Entities
@using PrjCinema.Domain.Entities.Permissoes
@model PrjCinema.MVC.Models.GrupoAcessoModelView

@{
    ViewBag.Title = "Detalhes Grupo Acesso";
}

<h2>Detalhes Grupo Acesso</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            <b>Permissões</b>
        </dt>
        <br />
        <dd>
            @foreach (var permissao in ((List<Permissao>)Model.Permissoes))
            {
                <li>
                    @permissao.Nome
                </li>
            }
        <dt>
        <dt>
            <b>Usuários</b>
        </dt>
        <br />
        <dd>
            @foreach (var usuario in ((List<Usuario>)Model.Usuarios))
            {
                <li>
                    @usuario.Nome
                </li>
            }
        <dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditGrupoAcesso", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "IndexGrupoAcessos")
</p>
