@using System.Web.UI.WebControls
@using PrjCinema.Domain.Entities.Permissoes
@model PrjCinema.MVC.Models.PermissaoModelView

@{
    ViewBag.Title = "DetailsPermissao";
}

<h2>DetailsPermissao</h2>

<div>
    <h4>PermissaoModelView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Removido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Removido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tela.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operacoes)
        </dt>

        <dd>
            @foreach (var operacao in ((List<Operacao>)Model.Operacoes))
            {
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="@operacao.Removido"> @operacao.NomeOperacao
                        </label>
                    </div>
                </li>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditPermissao", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "IndexPermissoes")
</p>
