@model IEnumerable<PrjCinema.MVC.Models.AtuaSerieModelView>

@{
    ViewBag.Title = "Series que atuou";
}

<h2>Series Atuadas</h2>
@if (ViewBag.Erro != null)
{
    <div class="alert-danger">

        <h1>@ViewBag.Erro</h1>
    </div>
}
<p>
    @Html.ActionLink("Adicionar Serie que atuou", "Create")
</p>
<table class="table ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.Titulo)
            </td>
        </tr>
    }
    @Html.ActionLink("Voltar", "Index")
</table>
