@using PrjCinema.MVC.Util
@model IEnumerable<PrjCinema.MVC.Models.UsuarioModelView>



@{
    ViewBag.Title = "Lista de Usuários";
}

<h2>Lista de Usuários</h2>
@if (ViewBag.Erro != null)
{
    <div class="alert-danger">

        <h1>@ViewBag.Erro</h1>
    </div>
}
<p>
    @Html.ActionLink("Criar novo Usuário", "Create")
</p>
<table class="table modal-content">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>

    </tr>




    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Detalhes do Usúarios
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <b> Email: </b>
                            @Html.DisplayFor(modelItem => item.Email)
                        </li>
                        <li>
                            <b> Cpf: </b>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </li>
                        <li>
                            <b> Contato: </b>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </li>
                        @if (ULogin.IsAdmin("Administrador"))
                        {
                            <li>
                                <b> Data de Cadastro: </b>
                                @Html.DisplayFor(modelItem => item.DataCadastro, new { @class = "date" })
                            </li>
                        }
                    </ul>
                </div>
            </td>
            <td>
                @Html.ActionLink("Grupos do usuario", "ListaDeGrupos", new { id = item.Id }, new { @class = "btn btn-default" })

                @if (ULogin.IsNaRole("Editar"))
                {
                    <b>|</b>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })

                }

                @if (ULogin.IsNaRole("Remover") && !item.Removido)
                {

                    <b>|</b>
                    @Html.ActionLink("Remover", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

                }


                @if (ULogin.IsNaRole("Remover") && item.Removido)
                {

                    <b>|</b>
                    @Html.ActionLink("Ativar", "Ativar", new { id = item.Id }, new { @class = "btn btn-warning" })

                }
            </td>

        </tr>
    }

</table>
