@using PrjCinema.MVC.Util
@model IEnumerable<PrjCinema.MVC.Models.UsuarioModelView>



@{
    ViewBag.Title = "Lista de Usuários";
}

<h2>Lista de Usuários</h2>
@if (ViewBag.Erro != null)
{
    <div class="alert-danger">

        <h1>@ViewBag.Erro</h1>
    </div>
}
<p>
    @Html.ActionLink("Criar novo Usuário", "Create")
</p>
<table class="table modal-content">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.ActionLink("Grupos do usuario", "ListaDeGrupos", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
            <td>
                @if (ULogin.IsNaRole("Editar"))
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    <b>|</b>
                }
                @if (ULogin.IsNaRole("Visualizar"))
                {
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id })

                }

                @if (ULogin.IsNaRole("Remover") && !item.Removido)
                {
                    <b>|</b>
                    @Html.ActionLink("Remover", "Delete", new { id = item.Id })
                }
                
                @if (ULogin.IsNaRole("Remover") && item.Removido)
                {
                    <b>|</b>
                    @Html.ActionLink("Ativar", "Ativar", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
