@model ICollection<PrjCinema.MVC.Models.AtuaFilmeModelView>

@{
    ViewBag.Title = "Atores deste filme";
}
@foreach (var item in Model)
{
    <h2>Atores do filme @Html.DisplayFor(modelItem => item.Filme.Titulo)</h2>
    break;
}
@if (ViewBag.Erro != null)
{
    <div class="alert-danger">

        <h1>@ViewBag.Erro</h1>
    </div>
}
<p>
    @Html.ActionLink("Adicionar Ator", "Create")
</p>
<table class="table ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ator)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ator.Nome)
            </td>


            <td>@Html.ActionLink("Remover Ator", "Delete", new { /* id=item.PrimaryKey */ })</td>


        </tr>
    }

</table>
@Html.ActionLink("Voltar", "Index", new { /* id=item.PrimaryKey */ }) 